
@{
    ViewData["Title"] = "Create";
}

<h2>Create Product</h2>

<form action="Store" method="post">
    <div class="form-group">
        <label>Name :</label>
        <input type="text" name="name" value="" class="form-control" />
    </div>
    <div class="form-group">
        <label>Description :</label>
        <input type="text" name="description" value="" class="form-control" />
    </div>
    <div class="form-group">
        <label>Image</label>
        <input type="text" name="thumbnail" value="" class="form-control" />
    </div>
    <div class="form-group">
        <label>Category</label>
        <input type="text" name="categoryId" value="" class="form-control" />
    </div>
    <div>
        <input type="submit" name="name" value="Submit" />
        <input type="reset" name="name" value="Reset" />
    </div>
</form>